<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>心灵书店欢迎您,[]~(￣▽￣)~*</title>

    <th:block th:replace="layout/header :: defaultImportAssets('分页')">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet">
    </th:block>

</head>
<body>

<nav th:replace="layout/header::navbar">
    navbar
</nav>


<div class="container">
    <div class="center-block">
        <form id="searchform" action="home" method="post">
            <input type="hidden" name="pageIdx"/>
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail3">搜索书籍</label>
                <div class="col-md-8">
                    <input type="text" name="bookName"
                           th:value="${bookName }"
                           class="form-control input-lg" id="exampleInputEmail3"
                           placeholder="键入书名...">
                </div>
            </div>
            <button type="submit" class="btn btn-lg">
                <span class="glyphicon glyphicon-search"></span>搜索
            </button>
        </form>
    </div>
    <hr/>
    <div class="container-fluid">
        <div class="row">


            <div th:if="${not #lists.isEmpty(books)}" th:each="b :${books}" class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <a th:href="@{detail?bookId=${b.bookId }}"><img
                            th:src="${b.mainImg }" alt="..."></a>
                    <div class="caption">
                        <h5>
                            ¥<span th:text="${b.price }">20</span>定价：
                            <del th:text="|¥${b.officalPrice}|">100</del>
                            (<span th:text="${b.price/b.officalPrice}">0.8</span>折)
                        </h5>
                        <p><span th:text="${b.bookName}">一本好书</span><span th:text="${b.publisher}">新华书店</span></p>
                        <p>
                            <a th:href="@{buy?bookId=${b.bookId }}"
                               class="btn btn-sm btn-danger" role="button">购买</a> <a
                                href="#" class="btn btn-default" role="button">收藏</a>
                        </p>
                    </div>
                </div>
            </div>


            <div th:if="${#lists.isEmpty(books)}" class="alert alert-info" role="alert">本店暂无您要的书籍sorry~</div>

        </div>

        <nav aria-label="Page navigation" class="text-center">
            <ul class="pagination pagination-lg">
                <li th:class="${pageIdx==1}?disabled">
                    <a
                        href="#" class="pager_index" th:data="${pageIdx>1}?pageIdx-1:1"
                        aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                </a></li>


                <th:block th:each="i : ${#numbers.sequence(1,totalPage)}">
                    <li th:class="${pageIdx==i }?'active':''">
                        <a href="javacript:;" class="pager_index" th:data="${i }" th:text="${i}">aaa</a>
                    </li>
                </th:block>

                <li th:class="${pageIdx==totalPage}?'disabled':''">
                    <a
                            href="#" class="pager_index" th:data="${pageIdx<totalPage?pageIdx+1:totalPage}"
                            aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                    </a>

                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /container -->
<footer th:replace="layout/footer::footer">
    <div class="container">
        <div class="text-center">Nothing here</div>
    </div>
</footer>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery-1.12.4.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js"></script>
<script src="js/holder.js"></script>
<script>
    $(function () {
        $(".pager_index").click(function (e) {
            e.preventDefault();
            $("[name=pageIdx]").val($(this).attr("data"));
            $("#searchform").submit();
        });
    });
</script>
</body>